<div
  class="h-14 w-full fixed bg-gradient-to-t from-blue-700 to-violet-800 flex justify-between items-center"
>
  <h1 class="text-white text-bold text-xl ml-10">MCU Trivia</h1>
  <div class="flex">
    <p class="text-white mr-10 text-bold text-lg">
      Questions: {{ availableQuestions }}
    </p>
    <p class="text-white mr-10 text-bold text-lg">
      Poinst: {{ correctCounter }}
    </p>
  </div>
</div>

<div class="w-full h-full flex justify-center bg-slate-100">
  <div class="w-10/12 h-screen flex flex-wrap justify-center mt-28">
    <div
      class="w-10/12 h-1/3 bg-white rounded shadow-md flex justify-center items-center"
    >
      <p class="text-lg text-zinc-700 font-bold px-5 text-center">
        {{ currentTriviaQuestion.displayQuestion }}
      </p>
    </div>

    <div class="w-10/12 h-2/3 mt-12">
      <ng-container
        *ngFor="let option of currentTriviaQuestion.options; let i = index"
      >
        <button
          [ngClass]="{ 
            'bg-green-600': currentTriviaQuestion.indexOfCorrectAnswer === i && optionWasPressed,
            'bg-red-600': currentTriviaQuestion.indexOfCorrectAnswer !== i && optionWasPressed,
            'bg-blue-600': !optionWasPressed}"
          (click)="selectOption(i)"
          class="w-full py-3 rounded mt-3 mb-3 text-white"
        >
          {{ option }}
        </button>
      </ng-container>
    </div>
  </div>
</div>
